@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  color: white;
}

.App-logo {
  max-width: 100%;
}

h1 {
  font-family: 'Clicker Script', cursive;
  font-size: 3em;
}
h3 {
  font-family: 'Clicker Script', cursive;
  font-size: 2em;
}

a {
  color: #fdffdc;
}
